
@keyframes trans{
  0%{

    transform: translateX(-200px);
  }
  100%{

    transform: translateX(200px) translateX(100vw);
  }
}

.header_change{
  height: 70px;
  .logo_wrap{//つまりヘッダータグ
    .logo{
      transform: scale(0.7) translateY(-20px) translateX(-10px);
    }
  }
  .header_nav{
    .navigation{
      line-height: 4.5em;
    }
  }
}
