@keyframes trans {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(200px) translateX(100vw);
  }
}

.header_change {
  height: 70px;
}

.header_change .logo_wrap .logo {
  transform: scale(0.7) translateY(-20px) translateX(-10px);
}

.header_change .header_nav .navigation {
  line-height: 4.5em;
}

@font-face {
  font-family: "Single Product Webicons Regular";
  src: url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.eot?%23iefix&10260784498269242388") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.woff?10260784498269242388") format("woff"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.ttf?10260784498269242388") format("truetype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.svg%23singleproduct_web_iconsregular?10260784498269242388") format("svg");
  font-style: normal;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

h1 {
  font-family: "source-han-serif-japanese",serif;
}

li {
  margin: 12px 0;
}

p {
  font-size: 17px;
  line-height: 34px;
  text-align: justify;
  text-justify: inter-ideograph;
}

body {
  background-color: #F8F8F8;
  font-family: "Karla",sans-serif;
  color: #060c0c;
  font-size: 16px;
  line-height: 1.625;
}

header {
  background-color: #ffffff;
  border-bottom: 0.5px solid #d6d6d6;
  transition: all 300ms 0s ease;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  height: 110px;
}

header .logo {
  transform: scale(1) translateY(5px);
}

header .navigation {
  line-height: 7em;
}

header .headerwrap {
  position: relative;
  z-index: 3;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

header .headerwrap .logo_wrap img {
  display: block;
  max-width: 300px;
  transition: all 300ms 0s ease;
  float: left;
  text-align: center;
  height: 90px;
  width: auto;
  margin: 0 auto;
}

header .headerwrap .header_nav {
  float: right;
}

header .headerwrap .header_nav .navigation {
  display: inline-block;
  padding: 0 30px 0 0;
  text-align: left;
  position: relative;
  transition: all 300ms 0s ease;
}

header .headerwrap .header_nav .navigation a {
  padding: 13px 20px;
  color: #303030;
  display: inline-block;
}

header .headerwrap .header_nav .navigation li {
  margin: 12px 0;
  position: relative;
  display: inline;
  padding-bottom: 20px;
  line-height: 100%;
}

header .headerwrap .header_nav .navigation li ::before {
  content: "";
  padding: 30px;
}

main .header_bgtitle {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin: 0 auto 0;
}

main .header_bgtitle:before {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  height: calc(100vh + 20px);
  width: calc(100vw + 20px);
  background-position: center;
  background-size: cover;
  background-position: 50% 60%;
  background-image: url(../material/header_bigimage.JPG);
  display: block;
}

main .titlebox {
  padding-top: 40px;
  width: 720px;
  margin: 0 auto;
}

main .titlebox h1 {
  font-size: 30px;
}

main .contents_1 {
  position: relative;
  padding: 20px 0;
  margin: auto;
  width: 720px;
}

main .contents_2 {
  padding: 20px 0;
  position: relative;
  margin: auto;
  width: 840px;
  height: 600px;
}

main .contents_2_wrap {
  width: 840px;
  height: 600px;
}

main .contents_2_left {
  z-index: 10;
  position: absolute;
}

main .contents_2_left img {
  width: 400px;
  height: auto;
}

main .contents_2_right {
  border-radius: 5px;
  background-color: white;
  top: 30px;
  right: 0;
  z-index: 20;
  position: absolute;
  width: 450px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

main .contents_2_right p {
  padding: 30px;
}

main .contents_3 {
  padding: 20px 0;
  margin: auto;
  width: 720px;
}

main .contents_4 {
  width: 720px;
  margin: 0 auto;
  padding: 20px 0;
}

main .contents_4_left, main .contents_4_right {
  float: left;
}

main .contents_4_left p, main .contents_4_right p {
  width: 350px;
  height: auto;
  padding-left: 20px;
}

main .contents_4_left img, main .contents_4_right img {
  width: 350px;
  height: auto;
}

main .contents_5 {
  padding-top: 400px;
}

main .contents_5 h1 {
  text-align: center;
  padding: 30px 0;
}

main .contents_5 .image_carousel_wrap {
  position: absolute;
  left: -200px;
}

main .contents_5 .image_carousel_wrap a {
  color: #3c3c3c;
  text-align: center;
}

main .contents_5 .image_carousel_wrap a h2 {
  padding: 50px 0 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

main .contents_5 .image_carousel_wrap a p {
  text-align: center;
}

main .contents_5 .image_carousel_wrap:nth-child(1) {
  animation: trans 20s linear 0s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(2) {
  animation: trans 20s linear 4s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(3) {
  animation: trans 20s linear 8s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(4) {
  animation: trans 20s linear 12s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(5) {
  animation: trans 20s linear 16s infinite;
}

main .contents_5 .image_carousel_wrap img {
  height: auto;
  width: 200px;
}
