@keyframes trans {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(200px) translateX(100vw);
  }
}

.header_change {
  background-color: white;
  border-bottom: 1px solid #f5f5f5;
  height: 70px;
}

.header_change .logo_wrap .logo {
  transform: scale(0.7) translateY(-12px) translateX(-10px);
}

.header_change .header_nav .navigation {
  line-height: 4.5em;
}

.header_change .header_nav .navigation a {
  color: #060c0c;
  text-shadow: 0px 5px 10px rgba(150, 150, 150, 0);
}

@font-face {
  font-family: "Single Product Webicons Regular";
  src: url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.eot?%23iefix&10260784498269242388") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.woff?10260784498269242388") format("woff"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.ttf?10260784498269242388") format("truetype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.svg%23singleproduct_web_iconsregular?10260784498269242388") format("svg");
  font-style: normal;
  font-weight: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

h1 {
  font-family: "source-han-serif-japanese";
  font-size: 30px;
  padding: 30px 0 10px;
}

li {
  margin: 12px 0;
}

p {
  font-size: 17px;
  line-height: 34px;
  text-align: justify;
  text-justify: inter-ideograph;
}

body {
  background-color: #F8F8F8;
  font-family: "Karla",sans-serif;
  color: #060c0c;
  font-size: 16px;
  line-height: 1.625;
}

header {
  background-color: transparent;
  border-bottom: 0.5px solid transparent;
  transition: all 300ms 0s ease;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  height: 110px;
}

header .logo {
  transform: scale(1) translateY(5px);
}

header .navigation {
  line-height: 7em;
}

header .headerwrap {
  position: relative;
  z-index: 3;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

header .headerwrap .logo_wrap img {
  display: block;
  max-width: 300px;
  transition: all 300ms 0s ease;
  float: left;
  text-align: center;
  height: 90px;
  width: auto;
  margin: 0 auto;
}

header .headerwrap .header_nav {
  float: right;
}

header .headerwrap .header_nav a {
  text-shadow: 0px 5px 10px rgba(150, 150, 150, 0.64);
  color: white;
}

header .headerwrap .header_nav .navigation {
  display: inline-block;
  padding: 0 30px 0 0;
  text-align: left;
  position: relative;
  transition: all 300ms 0s ease;
}

header .headerwrap .header_nav .navigation a {
  padding: 13px 20px;
  display: inline-block;
}

header .headerwrap .header_nav .navigation li {
  margin: 12px 0;
  position: relative;
  display: inline;
  padding-bottom: 20px;
  line-height: 100%;
}

header .headerwrap .header_nav .navigation li ::before {
  content: "";
  padding: 30px;
}

main .contents {
  position: relative;
}

main .header_bgtitle {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  margin: 0 auto 0;
}

main .header_bgtitle:before {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  height: calc(100vh + 20px);
  width: calc(100vw + 20px);
  background-position: center;
  background-size: cover;
  background-position: 50% 60%;
  background-image: url(../material/bgimage.jpg);
  display: block;
}

main .titlebox {
  width: 720px;
  margin: 0 auto;
}

main .contents_1 {
  margin: auto;
  width: 720px;
}

main .contents_2 {
  padding: 20px 0;
  margin: auto;
  width: 840px;
  height: 600px;
}

main .contents_2_wrap {
  width: 840px;
  height: 600px;
}

main .contents_2_left {
  z-index: 10;
  position: absolute;
}

main .contents_2_left img {
  width: 400px;
  height: auto;
}

main .contents_2_right {
  border-radius: 5px;
  background-color: white;
  top: 30px;
  right: 0;
  z-index: 20;
  position: absolute;
  width: 450px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

main .contents_2_right p {
  padding: 30px;
}

main .contents_3 {
  margin: auto;
  width: 720px;
}

main .contents_4 {
  width: 720px;
  margin: 0 auto;
}

main .contents_4_left, main .contents_4_right {
  float: left;
}

main .contents_4_left p, main .contents_4_right p {
  width: 350px;
  height: auto;
  padding-left: 20px;
}

main .contents_4_left img, main .contents_4_right img {
  width: 350px;
  height: auto;
}

main .contents_5 {
  padding-top: 400px;
  display: block;
}

main .contents_5 h1 {
  text-align: center;
}

main .contents_5 .image_carousel {
  position: relative;
  height: 400px;
}

main .contents_5 .image_carousel_wrap {
  position: absolute;
  left: -200px;
}

main .contents_5 .image_carousel_wrap a {
  color: #3c3c3c;
  text-align: center;
}

main .contents_5 .image_carousel_wrap h2 {
  padding: 50px 0 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

main .contents_5 .image_carousel_wrap p {
  text-align: center;
}

main .contents_5 .image_carousel_wrap:nth-child(1) {
  animation: trans 20s linear 0s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(2) {
  animation: trans 20s linear 4s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(3) {
  animation: trans 20s linear 8s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(4) {
  animation: trans 20s linear 12s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(5) {
  animation: trans 20s linear 16s infinite;
}

main .contents_5 .image_carousel_wrap img {
  height: auto;
  width: 200px;
}

footer {
  margin-top: 60px;
}

footer .newslater {
  background-color: #ffd13b;
}

footer .newslater h3, footer .newslater p {
  text-align: center;
}

footer .newslater h3 {
  font-family: "Montserrat",sans-serif;
  padding: 50px 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: inherit;
  color: #060c0c;
  text-align: center;
  text-transform: none;
  font-size: 1.0625rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer .newslater #contact_form {
  max-width: 540px;
  margin: 0 auto;
  padding: 50px;
}

footer .newslater #contact_form .input-field {
  color: #060c0c;
  background-color: transparent;
  padding: 15px;
  border: 1px solid #060c0c;
  border-radius: 5px;
  display: inline-block;
  width: calc(60% - 15px);
  margin-right: 15px;
  font-size: 0.875rem;
  vertical-align: middle;
}

footer .newslater #contact_form .inline-field-submit {
  padding: 1px;
  font-size: 14px;
  display: inline-block;
  width: 30%;
  padding: 15px 20px;
  background-color: #696d6d;
  border-radius: 5px;
  border: 1px solid #696d6d;
}

footer .footer_wrap {
  color: #ffd13b;
  background-color: #060c0c;
}

footer .footer_wrap h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  padding-bottom: 20px;
}

footer .footer_wrap_box {
  max-width: 1020px;
  padding: 50px 30px;
  margin: 0 auto;
  font-size: 0.875rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18.3% 18.3% 18.3%;
  grid-template-columns: 18.3% 18.3% 18.3%;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
}

footer .footer_wrap_copyright {
  color: rgba(255, 209, 59, 0.5);
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 40px;
}

footer .footer_wrap_copyright p {
  font-size: 14px;
  line-height: 1.5em;
}

footer .footer_wrap_copyright a {
  line-height: 1em;
  font-size: 14px;
  color: #ffd13b;
  display: inline;
}
