@import "_variable.scss";
header{
  width: 100vw;
  background-color: white;
  .headerwrap{
    text-align: center;
    img{
      text-align: center;
      width: 280px;
      height: auto;
      margin: 0 auto;
    }
  }
}
