@charset "UTF-8";
@font-face {
  font-family: "Single Product Webicons Regular";
  src: url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.eot?%23iefix&10260784498269242388") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.woff?10260784498269242388") format("woff"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.ttf?10260784498269242388") format("truetype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.svg%23singleproduct_web_iconsregular?10260784498269242388") format("svg");
  font-style: normal;
  font-weight: normal;
}

p {
  font-size: 17px;
  line-height: 34px;
  text-align: justify;
  text-justify: inter-ideograph;
}

body {
  background-color: #F8F8F8;
  font-family: "Karla",sans-serif;
}

header {
  width: 100vw;
  height: auto;
  background-color: white;
}

header .headerwrap {
  position: fixed;
  max-width: 1200px;
  text-align: center;
  height: 110px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 10;
}

header .headerwrap img {
  float: left;
  text-align: center;
  width: 225px;
  height: auto;
  margin: 0 auto;
}

header .headerwrap .header_nav {
  float: right;
}

header .header_bgtitle {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  background-image: url(../material/header_bigimage.JPG);
}

header .header_bgtitle::before {
  content: '';
  position: absolute;
  /* 輪郭がぼやけてしまうのでブラー範囲を広げる */
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
}

main .contents_1 {
  padding: 60px 0;
  margin: auto;
  width: 720px;
}

main .contents_2 {
  position: absolute;
  right: 0px;
  left: 0px;
  margin: auto;
  width: 840px;
  height: 600px;
}

main .contents_2_wrap {
  width: 840px;
  height: 600px;
}

main .contents_2_left {
  z-index: 10;
  position: absolute;
}

main .contents_2_left img {
  width: 400px;
  height: auto;
}

main .contents_2_right {
  border-radius: 5px;
  background-color: white;
  top: 30px;
  right: 0;
  z-index: 20;
  position: absolute;
  width: 450px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

main .contents_2_right p {
  padding: 30px;
}

main .contents_3 {
  padding-top: 690px;
  margin: auto;
  width: 720px;
}

main .contents_4 {
  width: 720px;
  margin: 0 auto;
  padding-top: 30px;
}

main .contents_4_left, main .contents_4_right {
  float: left;
}

main .contents_4_left p, main .contents_4_right p {
  width: 350px;
  height: auto;
  padding-left: 20px;
}

main .contents_4_left img, main .contents_4_right img {
  width: 350px;
  height: auto;
}

main .contents_5 {
  padding-top: 400px;
}

main .contents_5 h1 {
  text-align: center;
  padding: 30px 0;
}

main .contents_5 .image_carousel_wrap {
  position: absolute;
  left: -200px;
}

main .contents_5 .image_carousel_wrap a {
  color: #3c3c3c;
  text-align: center;
}

main .contents_5 .image_carousel_wrap a h2 {
  padding: 50px 0 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

main .contents_5 .image_carousel_wrap a p {
  text-align: center;
}

main .contents_5 .image_carousel_wrap:nth-child(1) {
  animation: trans 20s linear 0s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(2) {
  animation: trans 20s linear 4s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(3) {
  animation: trans 20s linear 8s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(4) {
  animation: trans 20s linear 12s infinite;
}

main .contents_5 .image_carousel_wrap:nth-child(5) {
  animation: trans 20s linear 16s infinite;
}

main .contents_5 .image_carousel_wrap img {
  height: auto;
  width: 200px;
}

@-webkit-keyframes trans {
  0% {
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(calc(100vw + 200px));
    -ms-transform: translateX(calc(100vw + 200px));
    transform: translateX(calc(100vw + 200px));
  }
}

@keyframes trans {
  0% {
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(calc(100vw + 200px));
    -ms-transform: translateX(calc(100vw + 200px));
    transform: translateX(calc(100vw + 200px));
  }
}
