@import "_variable.scss";
@import "_animation.scss";
$contents2_height:600px;
$book_count:5;
$deray:4;
@mixin transition{
  transition: all 300ms 0s ease;
}
@font-face {
  font-family: "Single Product Webicons Regular";
  src: url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.eot?%23iefix&10260784498269242388") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.woff?10260784498269242388") format("woff"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.ttf?10260784498269242388") format("truetype"), url("//cdn.shopify.com/s/files/1/1695/6607/t/5/assets/singleproductwebicons-regular.svg%23singleproduct_web_iconsregular?10260784498269242388") format("svg");
  font-style: normal;
  font-weight: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
li{
  margin: 12px 0;
}
p{
  font-size: 17px;
  line-height: 34px;
  text-align: justify;
  text-justify: inter-ideograph;
}
body{
  background-color: #F8F8F8;
  font-family: "Karla",sans-serif;
  color: #060c0c;
  font-size: 16px;
  line-height: 1.625;
}
header{
  background-color: $white;
  border-bottom: 0.5px solid $gray;
  @include transition;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0; left: 0;
  z-index: 99;
  height: 110px;

  .headerwrap{
    position: relative;
    z-index: 3;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    .logo_wrap{
      img{
        display: block;
        max-width: 300px;
        @include transition;
        float: left;
        text-align: center;
        height: 90px; width: auto;
        margin: 0 auto;
      }
    }

    .header_nav{
      float: right;
      .navigation{
        display: inline-block;
        padding: 2em 30px 0 0;
        text-align: left;
        position: relative;
        a{
          padding: 13px 20px;
          color: $black;
          display: inline-block;
        }
        li{

          margin: 12px 0;
          position: relative;
          display: inline;
          padding-bottom: 20px;
          line-height: 100%;

          ::before{
            content: "";
            padding: 30px;
          }
        }
      }
    }
  }
}
main{

  .header_bgtitle {
    position: relative;

    top: 0; bottom: 0;
    right: 0; left: 0;

    background-position: center;
    background-size: cover;
    background-position: 50% 60%;
    background-image: url(../material/header_bigimage.JPG);
    display: block;
    margin-top:110px;
    height: 100vh; width: 100vw;

    margin: 0 auto;
    // -ms-user-select: none;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // user-select: none;

    -webkit-filter:blur(5px);
    filter:blur(5px);

  }
  .contents_1{

    padding: 60px 0;
    margin: auto;
    width: 720px;


  }
  .contents_2{
    position: absolute;
    right:0px;
    left:0px;
    margin:auto;
    width: 840px;

    height: $contents2_height;
    &_wrap{
      width: 840px;
      height: 600px;

    }
    &_left{
      z-index: 10;
      position: absolute;

      img{
        width: 400px;
        height: auto;
      }
    }
    &_right{
      border-radius: 5px;
      background-color: white;
      top: 30px;

      right: 0;
      z-index: 20;
      position: absolute;
      width: 450px;
      -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      p{
        padding: 30px;
      }
    }
  }
  .contents_3{
    padding-top: $contents2_height + 90px ;
    margin: auto;
    width: 720px;
  }
  .contents_4{
    width: 720px;
    margin: 0 auto;
    padding-top: 30px;
    &_left,&_right{
      float: left;
      p{
        width: 350px;
        height: auto;
        padding-left: 20px;
      }
      img{
        width: 350px;
        height: auto;
      }
    }
  }
  .contents_5{
    padding-top: 400px;
    h1{
      text-align: center;
      padding: 30px 0;
    }
    .image_carousel{
      // position:relative;
      &_wrap{
        position: relative;
        // left: -200px;
        transform: translateX(-200px);
        a{
          color:rgb(60, 60, 60);
          text-align: center;
          h2{
            padding: 50px 0 10px 0;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 16px;
          }
          p{
            text-align: center;
          }
        }
        @for $value from 1 through ($book_count){
          &:nth-child(#{$value}){
            $value_deray:$value * $deray - 4;
            animation:trans #{$deray * $book_count}s linear #{$value_deray}s infinite;
          }
        }
        img{
          height: auto;
          width:200px;
        }
      }
    }
  }



}
